
<div class="row">
<div routerLink="dashboard" class="col-md-2" style="cursor: pointer">dashboard</div>
<div *ngIf="afAuth.authState | async; let user; else showLogin"
     class="col-md-2" style="cursor: pointer" (click)="logout()">logOut
</div>
  <ng-template #showLogin>
    <div class="col-md-2" style="cursor: pointer" (click)="open()">signIn</div>
  </ng-template>
</div>

<bs-modal #signInModal [animation]="false">
  <bs-modal-header>
    please sign In
  </bs-modal-header>
  <bs-modal-body>
    <div class="card-block">
      <form name="auth">
        <div class="input-group">
          <span class="input-group-addon">Email</span>
          <input type="email" class="form-control" placeholder="E-mail" #authEmail>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Password</span>
          <input type="password" class="form-control" placeholder="Password" #authPass>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-outline-primary" routerLink="dashboard" (click)="login(authEmail.value, authPass.value)">Sign In</button>
      <button type="button" class="btn btn-outline-dark" (click)="close()">close</button>
    </div>
  </bs-modal-body>
</bs-modal>
